// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #212529;
$secondary : #d03232;
$accent    : #212529;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

@import '~quasar-variables-styl'
