<template>
    <div></div>
</template>

<script>
export default {
    name: "Dashboard",

    components: {
    
    },

    data() {
        return {

        };
    },

    methods: {

    },

    created() {
    },

    validations: function() {
        return {

        };
    },

    computed: {

    }

};
</script>

<style lang="scss" scoped>
</style>